/* The main container holding everything */
.admin-container {
  display: flex;
  /* margin-top: 75px; */
  /* flex-direction: column; */
  min-height: 100vh;
  /* width: 100%; */
  scrollbar-width: ;
  /* flex: 1; */
}

/* The wrapper that holds Sidebar + Content */
.admin-layout-horizontal-wrapper {
  display: flex;
  flex: 1; /* This pushes the footer to the bottom */
}

.admin-sidebar {
  /* IMPORTANT: Remove position: fixed or absolute in AdminSidebar.css */
  width: 260px;
  flex-shrink: 0;
  min-height: 100vh;
}

.admin-content {
  flex: 1;
  /* overflow-y: auto; */
  padding:0px 2rem !important;
  background-color: #f4f7fe; /* Or the background from your screenshots */
}